*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

nav {
   height: 65px;
   position: fixed;
   top: 0%;
   background-color: white;
   display: flex;
   width: 100%;
   background-color: transparent;
}



nav ul {
    display: flex;
    height: 75;
    margin-left: 13%;
}

.img-logo{
    border-radius: 23px;
    border: 1px solid bisque;
    background-color: black;
    width: 45px;
}

nav ul li{
    list-style: none;
    list-style-type: none; 
    padding-right: 75px;
    margin-top: 0.6%;
    justify-content: space-between;
}


nav ul li a{
    color: #000;
    font-size: 30px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
  
}

nav ul li a:hover{
    color: red;
    transition-delay: 400ms;
    font-size: 33px;
    transition: 1000ms;
}

#home{
   height: 100vh;
}

#home h1{    
 font-size: 70px;
 padding-left: 200px;
 padding-top: 150px;
 

}


.my-img{
    width: 420px;
    height: 580px;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    right: 4%;
    
  
}

#home p{
  padding-left: 200px;
  font-size: 35px;
  color: blue;
  padding-bottom: 10px;  
}

.btn-container{
    width: 500px;
    padding-left: 200px;
    padding-top: 20px;
}

.btn-container button{
  background-color: black;  
  color: blanchedalmond; 
  padding: 10px; 
  border-radius: 15px;
  border-spacing: 10px;
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

.btn-container button:hover{
    transition-delay: 700ms;
    background-color: blue;
    font-size: 20px;
    transition: 1000ms;
}

#about{
    height: 100vh;
    position: relative;
}

#about h1{
    font-size: 45px;
    text-align: center;
    padding-top: 70px;
}

#projects {
    height: 150vh;
}

#projects h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 70px;
}
  
.projects-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.projects-container div{
    color: white;
    font-size: 25px;
    background-color: black;
    padding-top: 10px;
    height: 250px;
    width: 250px;
    text-align: center;
  
}

.projects-container div img{
   background-color: brown;
   width: 70%;
   height: 60%;
  
   justify-content: space-evenly;
}   


.projects-container button{
   background-color: aqua; 
  justify-content: space-evenly;
}    